body{
    background-color:#0c0066 ;
    overflow:hidden;
    margin:0;
  }
  canvas{
    background:#0c0066
  }

  .container{
      position: relative;
  }

  .greeting{
    font-family: 'Poppins', sans-serif;
    font-size: 83px;
    font-weight:700;
    animation: changeShad 3s infinite;
    z-index: 1;
    position: absolute;
    color: mediumaquamarine;
    /* top: 34%; */
    left: 26%;
    bottom: 32%;
  }
  @keyframes changeShad{
    0% {text-shadow: 0px 0px 5px #000; }
    50% {text-shadow: 5px 5px 10px #000;}
    100% {text-shadow: 0px 0px 5px #000; }
}
